<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">

  <title>HELOåås THERE</title>


</head>

<body>

  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><b style='font-family:"Exo 2"; font-size:2em; color:white;'>loGo</b></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Products</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">

      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> CART</a></li>
    </ul>
  </div>
</nav>




  <h1> JEPP ! :) {{ header }} </h1>
  <p>
    TEST SITE
    <br> {{ body }}
  </p>




  <!-- Footer -->
<footer class="panel-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: loGo
      <a href="#">localhost:5000</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->








</body>
</html>
