<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">

  <title>HELOåås THERE</title>


</head>

<body>
  
{% include 'navigation_meny.html' %}

  <h1> JEPP ! :) {{ header }} </h1>
  <p>
    TEST SITE
    <br> {{ body }}
  </p>




  <!-- Footer -->
<footer class="panel-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: loGo
      <a href="#">localhost:5000</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->








</body>
</html>
