<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  <title>HELOåås THERE</title>


</head>

<body>
  
{% include 'navigation_meny.html' %}

<div class="jumbotron">
  <img src="https://i.ebayimg.com/images/g/ln4AAOSwkvFaXmcn/s-l400.jpg">
</div>

  
<div class="container">
  <h2>Carousel Example</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img src="{{ first.img }}" style="width:100%;">
        <div class="carousel-caption">
          <h3>First phones {{ first.header }}</h3>
          <p> desc {{ first.desc }}!</p>
        </div>
      </div>

      
      {% for phone in phones %)
      <div class="item">
        <img src="{{ phone.img }}" style="width:100%;">
        <div class="carousel-caption">
          <h3>{{ phone.header }}</h3>
          <p> {{ phone.desc }}</p>
        </div>
      </div>
      {% end for %}
      
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
  
  
  


  <!-- Footer -->
<footer class="panel-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright: loGo
      <a href="#">localhost:5000</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->








</body>
</html>
