<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <title>Products</title>


</head>

<body>
{% include 'navigation_meny.html' %}

<div class="container-fluid">
  <h1 style="text-align:center;"class="h3 mb-3 font-weight-normal"><b>Products for sale</b></h1>

  {% for phone in products %}

  <div class="col-sm-4">

    <img src="{{ phone.image }}" style="max-height:50px;">
    <h3>{{ phone.title }}</h3>
    <p> {{ phone.desc }}</p>
    <p> {{ phone.price }} kr</p>
    <div class="form-group" style="float: left;">
      <label class="col-md-4 control-label" for="view"></label>
      <div class="col-md-4">
        <button id="view" name="view" class="btn btn-primary" onclick="location.href='/product'">View product</button>
      </div>
    </div>

  </div>

  {% endfor %}

</div>
<br />
<br />
<br />



</body>
</html>
