<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <title>Products</title>


</head>

<body>
{% include 'navigation_meny.html' %}

<div class="container-fluid">

  
  <h1 style="text-align:center;"class="h3 mb-3 font-weight-normal"><b>Products for sale</b></h1>
  
  <form style="width: 30%; margin: auto; margin-top: 8em;" class="form-search" action="" method="POST">
      <label for="inputSearch" class="sr-only">Search</label>
      <input style="text-align: center; "type="search" name="search" id="inputSearch class="form-control" placeholder="Something">
      <button style="margin-top: 1em;"class="btn btn-lg btn-primary">Search</button>
  </form>
                                                                  
  {% for phone in products %}

  <div class="col-sm-3">

    <img src="{{ phone.image }}" style="max-height:50px;">
    <h3>{{ phone.title }}</h3>
    <p> {{ phone.desc }}</p>
    <p> {{ phone.price }} kr</p>
    <div class="form-group" style="float: left;">
      <label class="col-md-4 control-label" for="view"></label>
      <div class="col-md-4">
        <button id="view" name="view" class="btn btn-primary" onclick="location.href='/product/{{ phone.productID }}'">View product</button>
      </div>
    </div>

  </div>

  {% endfor %}

</div>
<br />
<br />
<br />



</body>
</html>
