<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">

    <title>Transactions</title>

  </head>
  <body>

    {% include 'navigation_meny.html' %}


    <div class="container">
    <div class="row">
        <div class="col-xs-10">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h2 class="panel-title">
                        Transactions
                    </h2>
                </div>
                <div class="panel-body">
                </div>
                    <ul class="list-group">

                    <li class="list-group-item">
                    <h4>Sold products</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Sold to</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        {% if numSold == 0 %}
                        <td>No sold products yet.</td>
                        {% endif %}
                        {% for phone in soldPhones %}
                        <tbody>
                            <tr>
                                <td>{{ phone.title }}</td>
                                <td>{{ phone.email }}</td>
                                <td>{{ phone.price }}</td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    </li>

                    <li class="list-group-item">
                    <h4>Bought products</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Bought from</th>
                                <th>Price</th>
                                <th></th>
                            </tr>
                        </thead>
                        {% if numBought == 0 %}
                        <td>No bought products yet.</td>
                        {% endif %}
                        {% for phone in boughtPhones %}
                        <tbody>
                            <tr>
                              <td>{{ phone.title }}</td>
                              <td>{{ phone.email }}</td>
                              <td>{{ phone.price }}</td>
                              <td>
                                <div class="form-group" style="float: left;">
                                  <label class="col-md-4 control-label" for="edit"></label>
                                  <div class="col-md-4">
                                    <button id="review" name="review" class="btn btn-primary" onclick="location.href='/review/{{ phone.ownerID }}'">Leave review</button>
                                  </div>
                                </div>
                              </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>
</html>
